@charset "UTF-8";
/* Isso a globo não mostra */


body {
    background-color: darkslategrey;
        
   
}

div {
    padding: 8px;
    position: relative;
    width: 900px;
    height: 2000px;
    
    background-color: silver;
    color: darkslategrey;
    margin: 145px auto 200px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 3px 3px 0.3px rgba(0,0,0,.3);
    word-wrap: break-word;
}

/* Long live House Stark */
/* /*background: url(_imagens/fundo.jpg) ;*/
    /*background-position: 100%;
    background-size: 100%;
 /* background-attachment: fixed; */
   /* font-family: arial, sans-serif;*/